body{
  margin: 0;
  padding: 0;
  background: #fffff;
  font-family: objektiv-mk2, sans-serif;
  font-size: 20px;
}
/*    ~~   Universal Header & Footer for all pages    ~~   */
.header{
  font-family: davis, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 50px;
  text-align: justify;
}

/*    ~~   Name Logo     ~~      */
#name-logo a{
  font-size: 26px;
  color: #1D252A;
  float:left;
  text-decoration: none;
  transition:color 0.50s ease;
  display: inline-block;
  position: relative;
}

#name-logo a:hover{
  color: #1D252A;
}

#name-logo a::after {
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #FFE3A6;
  transform-origin:left;
  transition:width 0.50s ease;
  z-index:-1;
}

#name-logo a:hover::after {
  width: 100%;
}

/*    ~~   Navigation Bar  ~~       */
.nav-bar ul {
  font-size: 24px;
  float: right;
  list-style-type: none;
  word-spacing: 20px;
  margin-top: 4px;
}

.nav-bar a{
   text-decoration: none;
 }

.nav-bar a:link{
  color: #1D252A;
}

#current{
  background-color: #CFC6D8;
}

.nav-bar a:visited{
  color: #1D252A;
}

.list li{
  transition:color 0.50s ease;
  display: inline-block;
  position: relative;
}

.list li:hover{
  color: #1D252A;
}

.list li::after {
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #CFC6D8;
  transform-origin:left;
  transition:width 0.50s ease;
  z-index:-1;
}

.list li:hover::after {
  width: 100%;
}

/*    ~~   footer   ~~    */
.footer{
  font-family: objektiv-mk2, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 10px;
  color: #1D252A;
  text-align: center;
  margin-bottom: 30px;
}
