body{
  margin: 0;
  padding: 0;
  background: #fffff;
  font-family: objektiv-mk2, sans-serif;
  font-size: 20px;
}

/*    ~~   Universal Header & Footer for all pages    ~~   */
/*    ~~   scroll down to see rwd for Header and Footer    ~~   */
.dropdown,
.ss-name{
display: none;
}
.header{
  font-family: davis, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 50px;
  text-align: justify;
}

/*    ~~   Name Logo     ~~      */
#name-logo a{
  font-size: 28px;
  color: #1D252A;
  float:left;
  text-decoration: none;
  transition:color 0.50s ease;
  display: inline-block;
  position: relative;
}

#name-logo a:hover{
  color: #1D252A;
}

#name-logo a::after {
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #FFE3A6;
  transform-origin:left;
  transition:width 0.50s ease;
  z-index:-1;
}

#name-logo a:hover::after {
  width: 100%;
}

/*    ~~   Navigation Bar  ~~       */
.nav-bar ul {
  font-size: 26px;
  float: right;
  list-style-type: none;
  word-spacing: 20px;
  margin-top: 4px;
}

.nav-bar a{
   text-decoration: none;
 }

.nav-bar a:link{
  color: #1D252A;
}

#current{
  background-color: #CFC6D8;
}

.nav-bar a:visited{
  color: #1D252A;
}

.list li{
  transition:color 0.50s ease;
  display: inline-block;
  position: relative;
}

.list li:hover{
  color: #1D252A;
}

.list li::after {
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #CFC6D8;
  transform-origin:left;
  transition:width 0.50s ease;
  z-index:-1;
}

.list li:hover::after {
  width: 100%;
}

/*    ~~   footer   ~~    */
.footer{
  font-family: objektiv-mk2, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 10px;
  color: #1D252A;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 2100px){
  #name-logo a{
    font-size: 26px;
  }
  .nav-bar ul{
    font-size: 24px;
  }
}
@media only screen and (max-width: 1200px){

}
@media only screen and (max-width: 992px){
#name-logo a{
  font-size: 22px;
}
.nav-bar ul{
  font-size: 20px;
}
}
@media only screen and (max-width: 769px){
  #name-logo,
  .nav-bar,
  .header{
    display: none;
  }
  .ss-name,
  .dropdown{
      display: block;
    }
  /*    ~~   HEADER FOR PHONES (768px and smaller)   ~~   */
.header-s{
  font-family: davis, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 50px 50px 30px;
  display: flex;              /* establish flex container */
  flex-direction: column;     /* stack flex items vertically */
  justify-content: center;    /* center items vertically, in this case */
  align-items: center;        /* center items horizontally, in this case */
  height: auto;
}
}

.ss-name a{
  font-size: 26px;
  color: #1D252A;
  text-decoration: none;
}
.dropbtn {
  font-family: davis, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  cursor: pointer;
  background-color: #ffff;
  border: none;
  padding: 10px 10px;
}
.centerbtn{
  display: flex;              /* establish flex container */
  flex-direction: column;
  align-items: center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffff;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-size: 24px;
  color: #1D252A;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
  position: absolute;
}
}
