
body{
  margin: 0;
  padding: 0;
  background: #fffff;
  font-family: objektiv-mk2, sans-serif;
  font-size: 20px;
}
/*    ~~   Find HEADER styles on headerStyle.css    ~~   */

  /*    ~~   Playground Section   ~~    */
.title h1{
  font-family: davis, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  color: #1D252A;
  text-align: center;
  margin-top: 100px;
}

.title hr {
  width: 300px;
  background-color: #FFAF00;
  height: 6px;
  border: 0;
  margin-top: -40px;
  margin: auto;
  opacity: 100%;
}

.title p{
  margin: auto;
  text-align: center;
  font-family: objektiv-mk2, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
  color: #1D252A;
  margin: 20px 150px;
}
span{
  font-size: 20px;
}
/*    ~~   page Links  ~~    */
.pgLinks{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
}

.h2Link {
  font-family: davis, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  color: #1D252A;
  text-align: left;
}

a{
  text-decoration: none;
}

.h2Link:hover{
  color: #7B6F87;
}

.row{
  order: 3;
}

/*    ~~   Page Content   ~~    */
h2 {
  font-family: davis, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  color: #1D252A;
  text-align: left;
  margin-left: 50px;
}

#split {
  width: 1000px;
  background-color: #1D252A;
  height: 3px;
  border: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  margin: auto;
  opacity: 100%;
}

.ui, .indesign, .illustrator{
  padding: 50px 75px;
}

iframe{
  height: 700px;
}

/*    ~~   Bootstrap customization   ~~    */

.btn{
  background-color: white;
  border: none;
}

#uiImg{
  width: 600px;
  height: 400px;
}


#illImg, #designImg{
  width: 450px;
  height: 600px;
}


.btn:hover{
  background-color: #7B6F87;
}

.modal-body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title{
  font-family: davis, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: #1D252A;
}

.modal-footer{
  font-family: objektiv-mk2, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #1D252A;
  justify-content: flex-start;
}


@media only screen and (max-width: 2100px){
  #uiImg{
    width: 500px;
    height: 350px;
  }

  #illImg, #designImg{
    width: 400px;
    height: 500px;
  }
}
@media only screen and (max-width: 1200px){
  h2{
    text-align: center;
    margin-left: 0px;
  }

  .ui, .indesign, .illustrator{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 50px 50px;
  }

}
@media only screen and (max-width: 992px){
  .title h1{
    font-size: 50px;
    margin-top: 50px;
  }

  .title p{
    font-size: 15px;
  }

  .h2Link{
    font-size: 25px;
  }

  .h2Link:hover{
    color: #1D252A;
  }

  h2{
    font-size: 35px;
  }


  #split {
    width: 400px;
  }

  #uiImg{
    width: 300px;
    height: 225px;
  }

  #illImg, #designImg{
    width: 300px;
    height: 400px;
  }

  .modal-body img{
    width: 500px;
    height: 700px;
  }
}
@media only screen and (max-width: 769px){
 .pgLinks{
   margin-top: 20px;
   margin-bottom: 20px;
 }
 iframe{
   height: 300px;
 }
}
@media only screen and (max-width: 600px){
  .title h1{
    font-size: 40px;
    margin-top: 20px;
  }

  .title hr{
    width: 250px;
  }

  .title p{
    font-size: 15px;
    margin: 20px 20px;
  }

  .h2Link{
    font-size: 18px;
  }

  h2{
    font-size: 30px;
  }

  .ui, .indesign, .illustrator{
    padding: 25px 10px;
  }

  #split {
    width: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  span{
    font-size: 15px;
  }
}
@media only screen and (max-width: 370px){
  .ui, .indesign, .illustrator{
    padding: 25px 0px;
  }
}
