

/*    ~~   Find HEADER styles on headerStyle.css    ~~   */

  /*    ~~   Playground Section   ~~    */
.title h1{
  font-family: davis, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  color: #1D252A;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 0;
}

.title hr {
  width: 300px;
  background-color: #FFAF00;
  height: 6px;
  border: 0;
  margin-top: -40px;
  margin: auto;
  opacity: 100%;
}

.title p{
  margin: auto;
  text-align: center;
  font-family: objektiv-mk2, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
  color: #1D252A;
  margin: 1.5em 7em;
}
span{
  font-size: 20px;
}
/*    ~~   page Links  ~~    */

.filter-btns{
  display: flex;
  justify-content: right;
  margin: 1em 5em 0 5em;
}

#gallery-select{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px #868686 solid;
  padding: 0 1em;
  color: #868686;
  font-size: 14px;
}

  .masonry-wrapper{
  margin-top: 2em;
  }
  
  .masonry {
    column-count: 3;
    column-gap: 15px;
    margin: 0 3em;
  }
  
  .masonry-item {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 1em;
    break-inside: avoid;
  }
  
  .masonry-item a img{
    max-width: 100%;
    grid-row: 1 / -1;
    grid-column: 1;
  }
  
  .masonry-wrap{
    border: #d19000 16px solid;
    transition: width 1s, height 1s, transform 1s;
  }
  
  .masonry-wrap:hover{
  transform: rotate(-1deg);
  }

/*    ~~   Gallery Wall Content Pages   ~~    */
.project-wrapper {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-column-gap: 1em;
}
.right-side img{
  width: 100%;
  padding-bottom: 2em;
}
.moving-content h4, .moving-content h3, .moving-content h6{
  margin: 0.25em 0;
}
.moving-content h4{
  font-weight: 400;
  font-size: 1rem;
}
.moving-content h6{
  font-weight: 400;
}
.ytVideo{
  display: flex;
  justify-content: center;
}
.ytVideo iframe{
  width: 600px;
  height: 360px;
}

.masonry-wrap a{
  display: flex;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 1200px){
  
}
@media only screen and (max-width: 992px){
  .title h1{
    font-size: 50px;
    margin-top: 1em;
  }

  .title p{
    font-size: 15px;
    margin: 1.5em 5em;
  }
  
  .masonry {
    column-count: 2;
    column-gap: 10px;
    margin: 0 3em;
  }

  .project-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 1em;
  }
  
  .left-side{
    margin-bottom: 2em;
  }
}
@media only screen and (max-width: 769px){
  
}
@media only screen and (max-width: 600px){
  .title h1{
    font-size: 40px;
    margin-top: 0.75em;
  }

  .title hr{
    width: 250px;
  }

  .title p{
    font-size: 14px;
    margin: 1.5em 2em;
  }

  .filter-btns{
    justify-content: center;
  }

  .masonry {
    column-count: 1;
    margin: 0 2em;
  }
  .ytVideo iframe{
    width: 350px;
    height: 200px;
  }
}