body{
  margin: 0;
  padding: 0;
  background: #fffff;
  font-family: objektiv-mk2, sans-serif;
  font-size: 20px;
}
/*    ~~   Find HEADER styles on headerStyle.css    ~~   */

.title h1{
  font-family: davis, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: #1D252A;
  text-align: left;
  margin-top: 100px;
  padding-left: 90px;
}

.MOSF-8R iframe{
  margin-left: auto;
  margin-right: auto;
}
