body{
  margin: 0;
  padding: 0;
  background: #fffff;
  font-family: objektiv-mk2, sans-serif;
}
/*    ~~   Find HEADER styles on headerStyle.css    ~~   */

/*    ~~   Opening title    ~~   */
.opening {
  margin: auto;
  margin-top: -200px;
  width: 80em;
}
.opening h1{
  font-family: davis, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 190px;
  color: #1D252A;
  padding-top: 400px;
  margin-left: 250px;
}

.opening h2{
  font-family: davis, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  color: #1D252A;
  text-align: left;
  margin-left: 760px;
  margin-top: -350px;

}

/*    ~~   "I am a" animation   ~~    */
/*Wrapper*/
.wrapper{
    position: relative;
}

/*Vertical Sliding*/
.slidingVertical{
	display: inline;
	text-indent: 5px;
}
.slidingVertical span{
	animation: topToBottom 7.5s linear infinite 0s;
	-ms-animation: topToBottom 7.5s linear infinite 0s;
	-webkit-animation: topToBottom 7.5s linear infinite 0s;
	color: #1D252A;
  background-color: #FFE3A6;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.slidingVertical span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-20px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(20px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-20px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(20px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-20px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(20px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

/*    ~~   small intro paragraph   ~~    */
.intro-p{
  margin: auto;
  width: 80em;
  text-align: center;
  margin-top: -35px;
  font-family: objektiv-mk2, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 25px;
  color: #1D252A;
}
/*    ~~   social media icons   ~~    */
.social {
display: table;
margin: auto;
}

.social li{
 display: inline;
}

#icon{
  padding-left: 10px;
}

/*    ~~   projects section   ~~    */
.projects h2{
  font-family: davis, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  color: #1D252A;
  text-align: center;
  margin-top: 500px;
}

.projects hr {
  width: 300px;
  background-color: #FFAF00;
  height: 6px;
  border: 0;
  margin-top: -40px;
}

.grid{
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 50px;
  display: grid;
  height: auto;
  width: auto;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  padding-bottom: 60px;
  overflow-x: hidden;
}

.itema{
  grid-column: 1 / span 2;
  overflow: hidden;
  background-color: #2b2b6b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#itemaimg{
margin: auto;
}

.itemb{
  overflow: hidden;
  background-color: #e8e8e8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#itembimg{
  margin-left: -660px;
  margin-top: 40px;
}
.itemc{
  overflow: hidden;
  background-color: #ffcb60;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#itemcimg{
  margin-left: -650px;
  margin-top: 30px;
}

/*    ~~   projects section   ~~    */
.footer{
  font-family: objektiv-mk2, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: #1D252A;
  text-align: center;
  margin-bottom: 30px;
}
