body{
    margin: 0;
    padding: 0;
    font-family: objektiv-mk2, sans-serif;
    font-size: 20px;
  }
  html{
      scroll-behavior:smooth
    }

.body-content-wrapper{ /* Move to styles or headerstyles */
    margin: 0 5rem;
}
p{
    display: block;
}
:focus{
    border: 2px solid #331552;
}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    width: 100%; /* on mobile make it 100% */
    height: 100%;
    overflow: auto !important;
    background-color: rgba(0, 0, 0, .8);
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: #ffffff !important;
    position: sticky;
    top: 0px;
    right: 25px;
    font-size: 1.8rem !important;
    font-weight: bold !important;
  }
  
  .close:hover,
  .close:focus {
    color: #868686 !important;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }

  .accordion-wrapper{
    margin-top: 1em;
  }

  .img-modal img{
    width: 80%;
  }
  .first {
    margin-bottom: 1em;
  }

  .img-modal{
    cursor: pointer;
}

.img-modal:hover{
  opacity: 0.8;
}

.img-modal:focus{
  border: 2px solid #331552;
}

  .pdf-img img{
      padding-bottom: 1em;
  }

  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #CFC6D8;
    color: #1D252A;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 8px;
    outline: none;
    transition: 0.4s;
  }

  .accordion:first-child, .beyond-accordion .accordion {
margin-bottom: 0.5em;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #bbafc8;
  }
  
  .accordion:focus-visible{
        border: 2px solid #331552;
  }
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0;
    background-color: #EEF8BF;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #1D252A;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
    /*    ~~   Find HEADER styles on headerStyle.css    ~~   */
    /*    ~~   scroll down to see rwd for project MOSF page ~~   */
  
  /*===================================
  === Project Title and Subhead ===
  ======================================== */
    .page-title{
    margin: 0.5rem 0;
        padding: 0.75rem 0 2rem 0;
      padding-right: 15px;
      padding-left: 15px;
    }
  
    .page-title h1{
      font-family: davis, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 2.5em;
      color: #1D252A;
      text-align: left;
      margin: 0px 0px 0px 0px;
    }
  
    .page-title h2{
      font-family: davis, sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 1.5em;
      color: #1D252A;
      text-align: left;
      /*margin: -10px 0px 0px 0px;*/
    }


    /*===================================
    === Sidebar styling ===
    ======================================== */

    .desktop-nav{
        display: none;
    }
    .mobile-dropDown{
        display: block;
    }

      .sidebar{
        list-style: none;
        padding-inline-start: 0;
        /*background-color: #CFC6D8; */
        margin-top: 0;
        border-radius: 4px;
        position: -webkit-sticky;
        position: sticky;
        top: 3%;
        font-size: 16px;
        z-index: 1;
        text-align: left;
      }

      .sidebar li{
        transition:color 0.50s ease;
        display: block;
        position: relative;
      }
      
      .sidebar li:hover{
        color: #1D252A;
      }
      
      .sidebar li::after {
        position: absolute;
        content: '';
        top:0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #CFC6D8;
        transform-origin:left;
        transition:width 0.90s ease;
        z-index:-1;
      }
      
      .sidebar li:hover::after {
        width: 100%;
        border-radius: 0 8px 8px 0;
      }

      .sidebar li{
        padding: 0.75rem 1.25rem 0.75rem 1rem;
      }

      .sidebar a{
        text-decoration: none;
        color: #354B57;
      }

      .side-roles{
        display: block;
        width: 100%;
        height: 100%;
        margin: auto;
        float: left;
        padding: 0px 0px 0px 200px;
      }

    #sidebar li.active {
        background-color: #CFC6D8;
        border-radius: 0 8px 8px 0;
        border-left: #331552 6px solid;
    }

    .mobile-dropDown{
        background-color: rgba(255, 255, 255, 0);
        border-style: none;
        border-bottom: solid #1D252A 1px;
        margin: 0 0 2em 0;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
    }
  
    /*===================================
    === Overview and Project Info ===
    ======================================== */
    .content-section{
      margin: auto;
      margin-bottom: 2rem;
    }

    .main-content div{
        padding-right: 0;
        padding-left: 0;
    }

    .main-content .container{
        padding: 0 1em;
    }

    .overview h1{
        margin-left: -15px!important;
    }
  
    .content-section h1{
      display: inline-block;
      font-family: davis, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 40px;
      color: #1D252A;
      text-align: left;
      margin: 0px 0px 0px 0px;
      background-color: #FFE3A6;
    }
  
    .content-section p{
      font-family: objektiv-mk2, sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 14px;
      color: #1D252A;
      text-align: left;
      margin: 10px 0px 0px 0px;
    }
    .intro-p{
        margin: 10px 0px 0px 0px; 
    }

    .content-section li{
        margin: 0.5em 0;
        font-family: objektiv-mk2, sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 14px;
      color: #1D252A;
      text-align: left;
    }

    .overview-inner-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0.5em 0;
    }


    .info-piece{
        padding: 0.5em 0.2em;
    }

    .info-piece .info-header{
        font-family: davis, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        color: #1D252A;
        text-align: left; 
        margin-bottom: 0;     
    }

    .info-piece p{
        margin: 0;
    }

    li a, p a{
        color: #331552;
        text-decoration: underline;
    }

    li a:hover, p a:hover{
        color: #7B6F87;
    }

    .btn-local{
        display: block;
        border-radius: 8px;
        text-align: center;
        border: 2px solid #bbafc8;
        padding: 10px 15px;
        width: 100%;
        text-decoration: none;
        margin-bottom: 10px;
    }

    .btn-local:hover{
        background-color: #bbafc8;
        color: #1D252A;
        text-decoration: none;
    }

    .btn-local:focus{
        border: 2px solid #331552;
        background-color: #bbafc8;
    }


    /*===================================
    === Mobile-first Responsive Design ===
    ======================================== */
  
    @media only screen and (min-width: 1440px){
        .content-section p, .content-section li{
            font-size: 18px;
          }

          .btn-local{
            width: 70%;
        }
    }

    @media only screen and (min-width: 992px){
        .page-title h1{
            font-size: 40px;
          }
          .page-title h2{
            font-size: 25px;
          }
        .content-section h1{
            font-size: 30px;
          }
        .content-section p, .content-section li{
            font-size: 16px;
          }
          .intro-p{
            margin: 30px 0px 0px 0px;
          }
          .info-piece .info-header{
            font-size: 22px;   
        }

    }

    @media only screen and (min-width: 768px){

        .desktop-nav{
            display: block;
        }
        .mobile-dropDown{
            display: none;
        }
        .sidebar{
            text-align: left;
        }
        .page-title{
            margin: 1.5rem 0;
            padding: 1rem 0 2rem 0;
            padding-right: 15px;
            padding-left: 15px;
          }
          .info-box{
            padding: 0 0 0 1em !important;
        }
        .main-content .container{
            padding: 0 15px;
        }

        .thumbnail .col-md-6, .thumbnail .col-md-8{
            max-height: 300px;
            overflow: hidden;
        }
        
    }

    @media only screen and (min-width: 552px){

    }

  @media only screen and (max-width: 992px){
    /*===================================
    === Common Items ===
    ======================================== */
   
    .content-section h1{
      font-size: 25px;
    }
  
    /*===================================
    === Project Title and Subhead ===
    ======================================== */
    .page-title h1{
      font-size: 35px;
    }
  
    .page-title h2{
      font-size: 20px;
    }

     /*===================================
    === Content-Wrapper Sizing ===
    ======================================== */
    .outside-wrapper {
        flex-wrap: wrap;
    }
    .sidebar-content {
        flex: 100%;
        margin: 0;
      }
    .main-content {
      flex: 100%;
      margin: 0;
      padding: 0;
    }

    /*===================================
    === Sidebar overhead styling ===
    ======================================== */

  }
  @media only screen and (max-width: 769px){
    /*===================================
    === Long and Short Rule ===
    ======================================== */
    .body-content-wrapper{
        margin: 0 3rem;
    }

    .breadcrumbs{
        display: none;
    }
  }
  @media only screen and (max-width: 600px){
  
  
    /*===================================
    === Project Title and Subhead ===
    ======================================== */
    .page-title h1{
      font-size: 30px;
    }
  
    .page-title h2{
      font-size: 15px;
    }
  }
  @media only screen and (max-width: 370px){
    /*===================================
    === Common Items ===
    ======================================== */
    .body-content-wrapper{
        margin: 0 1.5rem;
    }
    .content-section h1{
      font-size: 20px;
    }
  
    /*===================================
    === Project Title and Subhead ===
    ======================================== */
    .page-title h1{
      font-size: 25px;
    }
  }
  